* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #333853;
  font-family: 'Ubuntu', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.main-title {
  font-size: 50px;
  margin-bottom: 50px;
  color: #fff;
}
.wrapper {
  display: flex;
}
.time-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
input {
  width: 200px;
  height: 150px;
  text-align: center;
  background-color: #3c4262;
  color: #fff;
  border-radius: 20%;
  font-weight: 700;
  font-size: 85px;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  background-color: #3c4262;
  border-radius: 50%;
}
.arrow .content {
  display: none;
}
.arrow::before {
  content: ' ';
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border: 10px solid transparent;
  border-bottom: 10px solid white;
  transform: translateY(-6px);
}
.arrow.down::before {
  transform: rotate(180deg) translateY(-6px);
}
.time-box {
  text-align: center;
}
.time-box legend {
  margin-top: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}
.continue {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
a {
  text-decoration: none;
  font-size: 30px;
  background-color: #3c4262;
  color: #fff;
  padding: 2rem 2.2rem;
  border-radius: 20%;
  font-weight: 700;
}
